li {
  padding: 5px;
  margin: 5px;
  width: 100px;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
}

.form-group {
  margin-bottom: 5px;
}

body{
	background-image: url("../images/background.jpeg");
	background-repeat: no-repeat;
	background-size: cover;

}

h1{
	color: #962c0e;
	font-size: 80px;
}

.burgers{
	color: #962c0e;
}

li{
	font-size: 30px;
	color: #a1c259;
	width: 250px;
}